<div class="grid">
  <% user.highlights.forEach(highlight => { %>
    <div class="grid-item">
      <img src="<%= highlight.image %>">
      <div class="hover">
        <br >
        <h2><%= highlight.title %></h2>
        <hr >
        <p><%= highlight.description %></p>
        <hr >
        <div id="highlight-buttons">
          <div id="read">
            <button class="btn btn-outline-primary color-white"><a href="<%= highlight.url %>">Read</a></button>
          </div>
          <div id="delete">
            <form action="/highlight/<%= highlight.id %>" method="post" class="delete">
              <input type="image" src="/images/delete.png" name="_method" value="delete">
            </form>
          </div>
        </div>
      </div>
    </div>
  <% }) %>
</div>
